<div class="navbar navbar-default navbar-static-top" role="navigation" id="rmnavbarbgcolor" ng-controller="TabController">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="navbading" href="#"><img class="img-responsive" src="assets/img/UOL_online_logo.png" alt="Logo"></a>
          <a href="#" class="btn btn-primary pull-right print-btn" onClick="printPage()">Print</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" id="bgselected">
            <li ng-repeat="tab in getTabs()" ng-show="isEnabledTab($index)" ng-class="{'tab':true, 'activeTab':isActiveTab($index), 'inActiveTab':getTab($index).disabled}" 
            	ng-click="setActiveTab($index)">
              <span ng-class="getTab($index).icon"></span>
              {{tab.title}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div id="content" class="tabView" ng-include="getActiveView()">
      Page Loading...
    </div>