<div class="container" ng-controller="login.controller">
    	<div class="row">
			<h2 class="text-center">Uol Billing Login</h2>
        </div>
        
        <div class="row">
			<div id="login-box" class="col-md-4 col-md-offset-4">
				<h4>Login with Username and Password</h4>

				<form name='loginForm' action="/uol-billing/j_spring_security_check' />" method='POST'>
                  <div class="form-group">
                  <label for="username">User:</label><br />
                  <input type='text' name='username' class="form-control">
                  </div>
                  <div class="form-group">
                  <label for="password">Password:</label><br />
                  <input type='password' name='password' class="form-control" />
                  </div>
                  
                      <button name="submit" type="submit" class="btn btn-primary col-md-4 col-md-offset-4"/>Login</form>
              </form>
			</div>
		</div>
</div>